<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5>Cadastro de Categoria</h5>
                </div>
                <div class="card-body">
                    <form action="/admin/categories/new" method="POST">
                        <input type="text" name="title" class="form-control">
                        <button type="submit" class="btn btn-success mt-3">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>