<div class="container-fluid">
    <div class="low mt-3">
        <div class="col col-lg-6">
            <div class="card">
                <div class="card-header">
                    Criação de Usuário
                </div>
                <div class="card-body">
                    <form action="/users/create" method="POST">
                        <label for="email">E-mail:</label>
                        <input type="email" name="email" class="form-control" id="email">
                        <label for="password">Senha:</label>
                        <input type="password" id="password" class="form-control" name="password">
                        <label for="repeatpassword">Repita a senha:</label>
                        <input type="password" id="repeatpassword" class="form-control" name="repeatpassword">
                        <button type="submit" class="btn btn-success mt-3">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>